{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    Blog | All Posts
{% endblock %}
{% block content %}
    {% for post in posts %}
        <div class="row blog-item px-3 pb-5">
            <div class="col-md-5">
                <img class="img-fluid mb-4 mb-md-0" src="{% static 'img/blog-1.jpg' %}" alt="Image">
            </div>
            <div class="col-md-7">
                <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold"><a href="">{{ post.title }}</a></h3>
                <div class="d-flex mb-3">
                    <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i> 01-Jan-2045</small>
                    <small class="mr-2 text-muted"><i class="fa fa-folder"></i> Web Design</small>
                    <small class="mr-2 text-muted"><i class="fa fa-comments"></i> 15 Comments</small>
                </div>
                <p>
                    {{ post.body|truncatechars:50 }}
                </p>
                <a class="btn btn-link p-0" href="{{ post.get_absolute_url }}">Read More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}